DATABASE_URL=postgresql+psycopg2://postgres:Administrator@localhost:5432/odoo
IGDB_CLIENT_ID=ux7oscw2fuyma126xv4czu89zhccm1
IDGB_CLIENT_SECRET=b0xda5u36umqj3ewir6kchcyd7to7f
TWITCH_TOKEN_URL=https://id.twitch.tv/oauth2/token
IGDB_BASE_URL=https://api.igdb.com/v4